:root {
  --main-color: #f4f1ec;

  --header-background: #418134;
  --header-shadow: #355333;

  --header-text: #ffffff;
  --header-active-text: #cce8b5;
  --header-hover-text: #d4f1c5;

  --text-block-background: #ffffffd0;
  --text-block-border: #418134;
  --text-block-text: #000;

  --button-background: #418134;
  --button-border: #2e5d25;
  --button-hover: #356d2a;
  --button-active: #294f1f;
  --button-text: #fff;
}
